<%- include("header") -%>

    <form method="post">
        <div class="container text-center mb-5">
            <h1 class="mb-5">DNA MUTATION DATABASE</h1>
        </div>
        <div class="container text-center mt-5">
            <div class="mb-3 d-flex justify-content-center mt-5">
                <input name="user" class="form-control w-50 text-center mt-5" id="userInput" placeholder="Enter your name">
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-25">START</a>
        </div>
    </form>

    
    
   

<%- include("footer") -%>